Home#index<br><br>

<% unless user_signed_in? %>
  <%= link_to "Sign Up", new_user_registration_path %> | 
  <%= link_to "Sign In", new_user_session_path %><br>
<% else %>
  <p>
    Your current Account balance is <b><%= current_user.balance %></b>
  </p>  
<% end %>