<% if @transactions.present? %>
  <table>
    <tr>
      <th> Type </th>
      <th> Amount </th>
      <th> Balance </th>
    </tr>

    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.updated_balance %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  No, Transaction has been taken place yet
<% end %>
